apiVersion: batch/v1
kind: Job
metadata:
  name: $JOB
spec:
  template:
    spec:
      imagePullSecrets:
      - name: dhub-ccdevs
      containers:
      - name: $JOB
        image: crownandcaliber/octopus-db-migration:$IMAGE_TAG
        envFrom:
        - configMapRef:
            name: octopus-$APP_ENV
        command: ["mix", "ecto.migrate"]
      restartPolicy: Never
  backoffLimit: 1
